# Ignora arquivos temporários e chaves vazadas
*.json
!agents/agents.json
.DS_Store
.luarc.json
mctx_backup_*.mctx
.mctx_chats/
!./run_tests.sh
./*.mctx
collect_info.sh 
get_context_human_written.fish 
create_tests.sh 
refactorate.sh
